.body_ {
    margin: 0;
    background-color: gray;
}

.header-library {
    background-color: teal;
    color: white;
    font-size: 20px;
    
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.header-library ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px ;
    margin: 0;

}

.header-library ul li {
    margin-right: 10px;

}

footer {
    background-color: aqua;
}